body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.circle {
    background: rgb(254, 254, 254);
    background: radial-gradient(circle, rgba(254, 254, 254, 1) 0%, rgba(34, 195, 145, 1) 100%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 1s;


}
#up{
    position: absolute;
    top: 45%;
}
#down{
    position: absolute;
    top: 55%;
}

a{
  color: #fff; 
  text-decoration: none;
  user-select: none; 
  background: rgb(212,75,56); 
  padding: .7em 1.5em;
  min-width: 50px;
  text-align: center;
  z-index: 1;
  right: 10%;

}

a:hover { background: rgb(232,95,76); }
a:active { background: rgb(152,15,0); } 